$p100:#1890ff;
$p75: #9dc95b;
$p50: #bddb91;
$p5: #f2f8e8;

$a100: #572bed;
$a75: #8160f1;
$a50: #aa94f6;
$a5: #eee9fd;

$n100: #101904;
$n75: #4c5243;
$n50: #878b81;
$n5: #e6e7e5;
$n0: #ffffff;

$e100: #dd2254;
$e75: #e5597f;
$e50: #ee90a9;
$e5: #fce8ed;

$w100: #fab342;
$w75: #fbc671;
$w50: #fcd9a0;
$w5: #fff7eb;

$color-3c: #3c8dbc;

$colors: (
  n100: $n100,
  n75: $n75,
  n50: $n50,
  n5: $n5,
  p100: $p100,
  p75: $p75,
  p50: $p50,
  p5: $p5,
  a100: $a100,
  a75: $a75,
  a50: $a50,
  a5: $a5,
  e100: $e100,
  e75: $e75,
  e50: $e50,
  e5: $e5,
  w100: $w100,
  w75: $w75,
  w50: $w50,
  w5: $w5
);

$white: #ffffff;

$weights: (400, 500, 600, 700, 900);

$font-sizes: (
  "32": 32,
  "24": 24,
  "18": 18,
  "16": 16,
  "14": 14,
  "12": 12,
  "10": 10
);

$button-colors: (
  "primary": ("0": $p100, "1": $p50),
  "accent": ("0": $a100, "1": $a50),
  "warning": ("0": $w100, "1": $w50),
  "danger": ("0": $e100, "1": $e50),
);

$radius: 24px;
$default-weight: 400;

$transition: all 0.3s linear;

$shadow-large: 0 0 32px rgba($n100, 0.16);
$shadow-default: 0 12px 24px rgba($n100, 0.06);

$header-height: 64px;
$footer-height: 64px;

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number/($number * 0 + 1);
  }

  @return $number;
}

@mixin styled-scrollbar($thumbColor: transparent, $trackColor: transparent, $width: 0px) {
	scrollbar-width: thin;
	scrollbar-color: $thumbColor $trackColor;

	&::-webkit-scrollbar {
    width: $width;
    height: $width;
	}

	&::-webkit-scrollbar-track {
		width: $width;
		background-color: $trackColor;
	}

	&::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
    border-radius: 2px;
	}
}

@mixin media-max($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin media-min($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin media-min-max($min, $max) {
  @media screen and (min-width: $min + 1) and (max-width: $max - 1) {
    @content;
  }
}